* {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
body {
  line-height: 1.625;
  color: #000000;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

input {
  border-radius: unset !important;
}
textarea {
  border-radius: unset !important;
}
a {
  color: unset !important;
}
p,
span {
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes toBlackBg {
  to {
    background-color: #000000;
  }
}

@keyframes opacityFull {
  to {
    opacity: 1;
  }
}
@keyframes withFullProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* color */

.text-color-primary{
  color:#09858b !important;
}
.back-ground-primary{
  background-color: #09858b !important;
}

/* icon */
.blue-icon svg {
  fill: #0060ff;
}
.secondDary-icon svg {
  fill: #5de8e6;
}
.secondDary-icon svg {
  fill: #09858b;
}
.white-icon svg {
  fill: #ffffff;
}
.hover-blue-icon svg:hover {
  fill: #0060ff;
}
/* text */

.bold-text {
  font-size: 18px;
  font-weight: 600;
}

.medium-text {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 18px;
}

.big-text {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.2;
  letter-spacing: 5px;
  font-weight: 300;
  word-wrap: break-word;
  max-width: 100vw;
}
@media only screen and (max-width: 767px) {
  .big-text {
    font-size: 36px;
  }
}
/* block */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* react-slider */
.react-slider-custom .slick-arrow.slick-next::before {
  font-size: 40px;
  color: #acacac;
}
.background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

/* button */

.button-primary {
  background-color: #09858b;
  justify-content: center;
  text-align: center;
  color: #ffff !important;
  border: 0px solid transparent;
  letter-spacing: 2.64px;
  line-height: normal;
  font-size: 12px;
  overflow: visible;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.button-primary:hover {
  animation: toBlackBg 0.3s linear forwards;
  background-color: #000000;
}
@media only screen and (max-width: 767px) {
  .button-primary{
    margin: auto;
  }
}

/* mistake home need to edit */
.wrap-home .install-fitting {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap-home .install-fitting .title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  letter-spacing: 5px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 20px;
  width: 70%;
}

.wrap-home .install-fitting .desc {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 0px 50px 0px 50px;
  width: 70%;
}
.image-card-section-item h5 {
  font-size: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.wrap-menu {
  z-index: 1;
  width: 100%;
}

/* ant */
.ant-menu.ant-menu-sub,
.ant-menu-item {
  border-radius: 0 !important;
}
.ant-menu-submenu-open .ant-menu-submenu-arrow {
  transform: rotate(90deg) !important;
}
li.ant-menu-item-selected .ant-menu-title-content,
li.ant-menu-submenu-selected .ant-menu-title-content,
li.ant-menu-submenu-selected .ant-menu-submenu-arrow {
  color: #09858b !important;
}
li.ant-menu-item-selected .ant-menu-title-content svg path,
li.ant-menu-submenu-selected .ant-menu-title-content svg path,
li.ant-menu-submenu-selected .ant-menu-submenu-arrow svg path {
  fill: #09858b !important;
}
.ant-input, .ant-select.ant-select-in-form-item, .ant-select-selector {
  height: 50px!important;
  border-radius: 0!important;
}
.ant-select-selection-search{
  display: flex;
    align-items: center;
}
.ant-select-selection-search input{
  height: 50px;
}
.ant-select-selection-item{
  display: flex;
  align-items: center;
}
textarea::-webkit-input-placeholder {
  padding: 10px;
}

textarea::-moz-input-placeholder {
  padding: 10px;
}

textarea:-moz-input-placeholder {
  padding: 10px;
}

textarea:-ms-input-placeholder {
  padding: 10px;
}
.ant-picker{
  border-radius: 0;
  height: 50px;
  width: 100%;
}
/* slick react */
.slick-arrow.slick-prev{
  left: -10px;
  z-index: 100;
}
.slick-arrow.slick-next{
  right: 0;
  z-index: 100;
}
.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before{
  font-size: 29px;
  color: #9c9393;
}

.icon-cate-menu {
  display: block;
  width: 30px;
  height: 30px;
  z-index: 2;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}

.cate-menu ul {
  display: flex;
  max-width: 550px;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.cate-menu ul li svg {
  width: 30px;
  height: 30px;
}
.cate-menu ul li.ant-menu-item.ant-menu-item-only-child {
  max-width: 48%;
}
.wrap-menu-ant ul {
  min-width: 924px;
  padding: 0 54px;
  border-bottom: unset;
  background: transparent !important;
}
.wrap-menu-ant ul li {
  padding: 8px 25px;
  width: 136px;
}
.wrap-menu-ant ul li span.ant-menu-title-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  font-size: 12px;
}
.wrap-menu-ant ul li::after {
  border-bottom-width: 0 !important;
  border-bottom-color: unset !important;
}

.wrap-button-menu button {
  height: 40px;
  border-radius: unset;
  background-color: #ffbe0b;
  color: black;
  font-weight: 500;
}

.location-hover .location-place {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #c8dbe6;
  cursor: pointer;
}

.circle {
  animation: rotate 4s ease infinite;
}

/* modal */

.model-iframe .ant-modal-content {
  padding: 0;
  width: fit-content;
  padding: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, 0%);
  left: 50%;
}
.model-iframe .ant-modal-body {
  width: fit-content;
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
